.app {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #FFFFFF;
    height: 100%;
    overflow: hidden;
}
.chart-container {
    width: 100%;
}

.app-container {
    display: flex;
}

.app-minor {
    width: 30%;
}

.app-major {
    flex-grow: 1;
}